<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nontonkuy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NontonKuy">
        <activity android:name=".HistoryDetailActivity"></activity>
        <activity android:name=".HistoryActivity" />
        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".BuySuccessActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".BuyTicketActivity" />
        <activity android:name=".MovieDetailActivity" />
        <activity android:name=".MoviesActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SecondSignUpAcitivity" />
        <activity android:name=".FirstSignUpActivity" />
        <activity android:name=".GetStartedActivity" />
        <activity android:name=".SplashSceenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>